

body{
	background-image: url('assets/images/dark.png');
}

h3{
	color: #4aaaa5;
}

hr{
	border: 1px #777777 solid;
}



header{
	height: auto;
	background-color: #ffffff;

}

header div.container{
	max-width: 960px;
}

div.wrapper div.container{
	max-width: 960px;
}

header div div h1{
	background-color: #4aaaa5;
	color: white;
	padding:20px;
	text-align: center;
	left: 0;
	right: 0;
}

#filler{
	background-color: blue;
	
}

header div:nth-child(1){
	padding:0px;
	position: relative;
}


nav{
	width: 100%;
	text-align: center;
}

header div nav a{
	border-left: 1px #777777 solid;
	color:#777777;
	padding:0px 15px;
	text-decoration: none;
	line-height:7;
}

header div nav a:hover{
	color: #4aaaa5;
	text-decoration: none;
}

header div nav a:nth-child(1){
	border:none;
}

.wrapper{
	padding: 40px;
}

.content{
	background-color: #ffffff;
	color:#777777;
	border-radius: 10px;
	overflow: auto;
	box-shadow: 6px 6px 7px black;
	padding: 10px;
}

.content div:first-child{
	width: 100%;
	
}

.content p{

}


.profilePic{
	margin-right: 10px;
	margin-bottom: 10px;
	max-width: 100%;

	height: auto;
}



input, textarea{
	border-radius: 10px;
	background-color: lightgrey;
	border:none;
	width: 100%;
	color: grey;
}



#submitButton{
width: 25%;
}

.separator{
	background-color: limegreen;
	height: 20px;
}

.sidebar img{
	max-width: 20%;
	margin: 10px;

}

.sidebar{
background-color: #ffffff;
	color:#777777;
	margin-bottom: 200px;
	border-radius: 10px;
	box-shadow: 6px 6px 7px black;
	margin: 0 auto;
	margin-bottom: 200px;
}

.sidebar div{
	text-align: center;
	width: auto;
	padding:10px;
}

.sidebar a:hover{
	text-decoration: none;
}

.sidebar a img:hover{
	transform:rotateY(360deg);
	transform-origin:center;
	transition-duration:2s;
}

.picCont{
	padding: 10px;
	opacity: .75;
}

.picCont:hover{
	opacity: 1;
}

.galleryPic{
	width: 100%;
	display: inline-block;
	padding: 0px;
	position: relative;
}

.galleryPic img{
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.galleryPic div{
	text-align: center;
	padding: 10px 0px;
	background-color: #4aaaa5;
	position: absolute;
	bottom: 30%;
	left: 0;
	right: 0;
}

.galleryPic div a{
	color: #ffffff;
}

footer{
	width: 100%;
	padding: 20px 0px;
	position: fixed;
	bottom: 0;
	background-color: grey;
	color:#ffffff;
	text-align: center;
	border-top: 3px #4aaaa5 solid;

}
